html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: url(../assets/backgrounduni.svg) center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

a {
  color: #6B9080;
}

nav a {
  text-decoration: none;
  border-radius: 1em;
}

h1, h2, h3 {
  color: #6B9080;
}

nav a.active {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  border: 0.5px solid #6B9080;
}

nav .links > ul:first-child a:hover {
  border: 0.5px solid #6B9080;
  transition: 0.5s ease;
  position: relative;
  left: 1em;
  transform: translateX(1em);
  transition: 0.5s ease;
}

nav a:hover img {
  filter: blur(1px);
  transition: 0.5s ease;
}

nav {
  display: flex;
  z-index: 1000;
  justify-content: space-between;
  padding: 0 10%;
  position: sticky;
  top: 0;
  background-color: #EAF4F4;
}
nav .logo {
  background: url(../assets/Kagaba\ Logo\ 2.svg) center center no-repeat;
  width: 16.52em;
  height: 4.9em;
  align-self: center;
}
nav .photo {
  display: none;
  background: url(../assets/photo.svg) center center no-repeat;
  width: 13.8em;
  background-size: cover;
  height: 13.8em;
  margin-left: auto;
  margin-right: auto;
}
nav ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 0;
  list-style: none;
}
nav ul li a {
  display: flex;
  text-decoration: none;
  align-items: center;
  color: #6B9080;
  gap: 1em;
}
nav ul li a img {
  width: 4em;
  height: 4em;
}
nav ul li a p {
  font-size: 2rem;
}
nav .links > ul:first-child {
  position: absolute;
  left: 0;
  top: 10em;
  width: 30em;
  background-color: #EAF4F4;
  transform: translateX(-30em);
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
}
nav .links > ul:first-child li a {
  padding-left: 7em;
  overflow: hidden;
}
nav .links > ul:first-child li a:hover {
  width: calc(100% - 9.2em);
  transition: 0.5s ease;
}
nav .links > ul > :last-child .close {
  display: none;
}

input[type*=submit], button {
  color: #F0FBF4;
  background-color: #6B9080;
  border-radius: 0.4em;
  cursor: pointer;
  border: 1px solid black;
}

.form {
  background-color: #CCE3DE;
  border-radius: 1em;
  padding: 1em;
  width: min(90%, 50em);
  margin: 0 auto;
}
.form .close {
  text-align: right;
}
.form > p {
  text-align: center;
  font-size: 2em;
  margin-top: 0;
}
.form form {
  text-align: center;
}
.form form input {
  border: 1px solid black;
  margin: 0.2em auto;
  border-radius: 0.4em;
}
.form form input[type*=checkbox] {
  vertical-align: middle;
  position: relative;
  right: 0.2em;
  bottom: 0.1em;
}
.form form label {
  display: inline-block;
  width: min(97%, 50em);
}
.form form textarea {
  border: 1px solid black;
  margin: 0.2em auto;
  border-radius: 0.4em;
  background-color: #CCE3DE;
  width: min(97%, 50em);
}
.form form input[type*=text] {
  background-color: #CCE3DE;
  height: 1.8em;
  width: min(97%, 50em);
}

.container {
  background-color: rgba(204, 227, 222, 0.25);
  padding: 2em;
  margin: 5em auto;
  margin-top: 0;
  width: min(80%, 100em);
  position: relative;
}

.container.edit-blog .editing h1 {
  font-size: 3.2rem;
  color: #6B9080;
}
.container.edit-blog .editing form {
  text-align: left;
}
.container.edit-blog .editing form input {
  padding: 0.5em;
}
.container.edit-blog .editing form p {
  color: #6B9080;
  font-size: 1.3rem;
}
.container.edit-blog .editing form input[type*=submit] {
  font-size: 1.3rem;
  margin: 0 calc(50% - 2.7em);
}
.container.edit-blog .editing form label {
  height: 2.5em;
  border-radius: 0.5em;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
}
.container.edit-blog .editing form label p {
  justify-self: left;
}
.container.edit-blog .editing form label .upload {
  height: 2.4em;
  width: 3.4em;
  background: url(../assets/file-upload-svgrepo-com\ 1.svg) center center no-repeat;
  background-size: cover;
  cursor: pointer;
}
.container.edit-blog .editing form label input {
  display: none;
  z-index: -5;
}
.container.edit-blog .ingraph {
  position: absolute;
  bottom: -0.5em;
  right: 0;
}
.container.edit-blog .ingraph img {
  height: 10em;
}
.container.edit-blog .coverphoto {
  width: min(90%, 50em);
  margin: 0 auto;
}
.container.edit-blog .coverphoto .updatephoto {
  margin: 0 auto;
  text-align: center;
}
.container.edit-blog .coverphoto .updatephoto p {
  font-size: 1.6rem;
  text-align: center;
}
.container.edit-blog .coverphoto .updatephoto img {
  margin: 0 auto;
  width: min(44.6em, 100%);
  height: 30em;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1em;
}
.container.edit-blog .coverphoto .actions {
  margin: 2em 0;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}
.container.edit-blog .coverphoto .actions div {
  display: flex;
  align-items: center;
  gap: 1em;
}
.container.edit-blog .coverphoto .actions div p {
  font-size: 1.5rem;
}

.container.profile {
  position: relative;
}
.container.profile .editing h1 {
  font-size: 3.2rem;
  color: #6B9080;
}
.container.profile .editing .u-title {
  color: #6B9080;
}
.container.profile .editing form {
  text-align: left;
}
.container.profile .editing form .input {
  display: flex;
  gap: 1em;
  margin-top: 1em;
}
.container.profile .editing form .input p {
  width: 5.3em;
  flex-shrink: 0;
}
.container.profile .editing form input[type*=submit] {
  margin: 0 calc(50% - 2.85em);
  margin-top: 2em;
}
.container.profile .coverphoto {
  margin: 0 auto;
  margin-top: 3em;
  width: min(100%, 48em);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container.profile .coverphoto .updatephoto {
  width: 90%;
  margin: 0 auto;
}
.container.profile .coverphoto .updatephoto > div {
  position: relative;
}
.container.profile .coverphoto .updatephoto p {
  font-size: 2rem;
  text-align: center;
}
.container.profile .coverphoto .updatephoto img {
  margin: 0 auto;
  width: 35em;
  height: 35em;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.container.profile .coverphoto .updatephoto div.edit {
  background-color: #6B9080;
  width: 5em;
  height: 5em;
  border-radius: 0.6em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0.5em;
  right: 0;
  cursor: pointer;
}
.container.profile .coverphoto .updatephoto img.edit {
  width: 5em;
  height: 5em;
}
.container.profile .coverphoto .change-credentials {
  border: 1px solid black;
  margin: 0 auto;
  border-radius: 0.8em;
  background-color: #CCE3DE;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5em;
  margin-bottom: 5em;
}
.container.profile .coverphoto .change-credentials p {
  font-size: 1.5rem;
  margin: 0;
}
.container.profile .ingraph {
  position: absolute;
  bottom: -0.5em;
  right: 0;
}
.container.profile .ingraph img {
  height: 10em;
}

.container.queries h1 {
  color: #6B9080;
  font-size: 3.2rem;
}
.container.queries .bar {
  background-color: #EAF4F4;
  gap: 0.5em;
  padding: 0.5em;
  border: 1px solid black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 0.7em;
}
.container.queries .bar .item {
  padding: 0.5em;
  width: 30%;
  border: 1px solid black;
  border-radius: 0.5em;
  background-color: #CCE3DE;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.container.queries .bar .item p {
  font-size: 2em;
  margin: 0;
}
.container.queries .cards {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1em;
}
.container.queries .cards .card {
  background-color: #CCE3DE;
  width: min(100%, 63.7em);
  margin: 0 auto;
  padding: 0.9em 0;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.container.queries .cards .card .visible {
  display: flex;
  margin: 0 auto;
  width: min(90%, 63.7em);
  justify-content: space-between;
  border-radius: 1em;
  border: 1px solid black;
  padding: 1em;
  align-items: center;
  background-color: #EAF4F4;
}
.container.queries .cards .card .visible .photo {
  background: url(../assets/PXL_20221123_153554416.PORTRAIT.jpg) center center no-repeat;
  background-size: cover;
  width: 7em;
  height: 7em;
  border-radius: 50%;
}
.container.queries .cards .card .visible .data .name {
  font-size: 1.6rem;
  margin: 0;
}
.container.queries .cards .card .visible .data .date {
  margin: 0;
  margin-left: 1em;
}
.container.queries .cards .card .visible .actions {
  display: flex;
  gap: 1em;
}
.container.queries .cards .card .visible .actions .respond {
  width: 3em;
  height: 3em;
  border-radius: 1em;
  background: url(../assets/reply.svg) center center no-repeat;
  background-size: cover;
  background-color: #6B9080;
}
.container.queries .cards .card .visible .actions .ignore {
  width: 3em;
  height: 3em;
  border-radius: 1em;
  background: url(../assets/delete\ blog.svg) center center no-repeat;
  background-size: cover;
  background-color: #BD5454;
}
.container.queries .cards .card .hidden {
  display: none;
  background-color: #EAF4F4;
  width: min(90%, 63.7em);
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 1em;
  padding: 1em;
}
.container.queries .cards .card .hidden p {
  font-size: 1.5rem;
  margin-left: 1.666em;
}

.container.dashboard .bar {
  width: min(90%, 90em);
  margin: 0 auto;
  gap: 1em;
  display: flex;
  flex-wrap: wrap;
}
.container.dashboard .bar .item {
  flex-shrink: 1;
  border: 1px solid black;
  padding: 1em;
  border-radius: 0.9em;
  background-color: #CCE3DE;
  width: 15em;
  margin: 0 auto;
}
.container.dashboard .bar .item p {
  font-size: 1.6em;
  text-align: center;
  margin: 0;
}
.container.dashboard .bar .item p + div {
  width: 100%;
  border-radius: 1em;
  height: 11em;
}
.container.dashboard .bar .item .blogs {
  background: url(../assets/shoe1.jpg) center center no-repeat;
  background-size: cover;
}
.container.dashboard .bar .item .queries {
  background: url(../assets/shoe1.jpg) center center no-repeat;
  background-size: cover;
}
.container.dashboard .bar .item .comments {
  background: url(../assets/shoe1.jpg) center center no-repeat;
  background-size: cover;
}
.container.dashboard .bar .item .subscribers {
  background: url(../assets/shoe1.jpg) center center no-repeat;
  background-size: cover;
}
.container.dashboard .activity span {
  color: #6B9080;
}

@media screen and (min-width: 992px) {
  nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 20em;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    padding: 0;
  }
  nav .logo-container {
    margin: 0 auto;
  }
  nav .links {
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
  }
  nav .photo {
    display: block;
  }
  nav .links > ul:first-child {
    all: unset;
    list-style: none;
    display: flex;
    flex-direction: column;
  }
  nav .links > ul:first-child li a {
    padding-left: 0;
  }
  nav .links > ul:first-child li a:hover {
    width: 100%;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 0;
    list-style: none;
  }
  nav ul li a {
    display: flex;
    gap: 1em;
  }
  nav .links > ul:first-child {
    display: flex;
  }
  nav .links > ul .close {
    display: none;
  }
  nav .links > ul .menu {
    display: none;
  }
  .container {
    padding-left: 5em;
    padding-right: 5em;
    margin-top: max(8em, 25vh);
  }
  .wrapper {
    padding-left: 20em;
  }
  .container.edit-blog {
    display: flex;
    gap: 2em;
  }
  .container.profile {
    display: flex;
  }
  .container.profile .editing {
    width: min(100%, 70em);
  }
}/*# sourceMappingURL=admin.css.map */