html {
    font-size: 62.5%;
    height: 100%;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: url(../assets/backgrounduni.png) center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}

nav {
    z-index: 1000;
    display: flex;
    background-color: #EAF4F4;
    position: fixed;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;

    li > a {
        display: flex;
        gap: 1em;
        font-size: 1.6rem;
        text-decoration: none;
        color: black;
    }

    div {
        width: 20.2em;
        text-align: center;
    }

    .buttons {
        display: flex;
        justify-content: center;

        ul {
            position: relative;
            top: 4em;
        }
    }

    .logo {
        background: url(../assets/Kagaba\ Logo\ 2.svg) center center no-repeat;
        width: 16.52em;
        height: 4.9em;
        align-self: center;
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 2.7em;
        box-sizing: border-box;
        margin: 0;
        padding: 0;

        .dashboard {
            background: url(../assets/Dashboard.svg) center center no-repeat;
            width: 1.88em;
            height: 1.88em;
        }

        .blogs {
            background: url(../assets/blog-writing-svgrepo-com\ 1.svg) center center no-repeat;
            width: 1.88em;
            height: 1.88em;
        }

        .queries {
            background: url(../assets/messages\ admin.svg) center center no-repeat;
            background-size: cover;
            width: 1.88em;
            height: 1.88em;
        }

        .settings {
            background: url(../assets/Settings.svg) center center no-repeat;
            width: 1.88em;
            height: 1.88em;
        }
    }

    .photo {
        background: url(../assets/photo.svg) center center no-repeat;
        width: 13.8em;
        background-size: cover;
        height: 13.8em;
        margin-left: auto;
        margin-right: auto;
    }
}

.wrapper {
    margin-left: 20.2em;
    height: 100%;
    display: flex;
    align-items: center;
}

.container.edit-blog {
    margin-left: 8em;
    display: flex;
    gap: 3em;

   .editing {
    h1 {
        font-size: 4rem;
        color: #6B9080;
    }

    form {
        border-radius: 1em;
        width: 51.4em;
        height: 75.6em;
        display: flex;
        flex-direction: column;
        background-color: #CCE3DE;

        input {
            height: 61px;
            width: 90%;
            background-color: #CCE3DE;
            border-radius: .7em;
            margin-left: auto;
            margin-right: auto;
        }
        input[type*="submit"] {
            color: #F0FBF4;
            margin-right: 2em;
            font-size: 2.4rem;
            background-color: #6B9080;
            width: 154px;
            height: 61px;
        }
        
        label {
            width: 90%;
            height: 61px;
            border-radius: 1em;
            border: 1px solid black;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            justify-content: space-around;
            align-items: center;

            p {
                font-size: 2.4rem;
                width: 14.9em;
                border: 1px red;
                margin: 0;
            }
            
            img {
                width: 7.6em;
                background: url(../assets/file-upload-svgrepo-com\ 1.svg) center center no-repeat;
                border: 1px solid black;
                height: 4.9em;
                margin-top: auto;
                margin-bottom: auto;
                border-radius: 1em;
                cursor: pointer;
            }

            input {
                display: none;
            }
        }

        .title {
            font-size: 2.4rem;
            width: 90%;
            align-self: center;
            margin-top: 14px;
            margin-bottom: 14px;
        }

        textarea {
            width: 90%;
            height: 327px;
            background-color: #CCE3DE;
            border-radius: 1em;
            margin-left: auto;
            margin-right: auto;
        }
    }
   }

   .coverphoto {
    width: 48em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .updatephoto {
        width: fit-content;
        position: relative;
        top: -3em;
        margin-left: auto;
        margin-right: auto;

        p {
            font-size: 2.4rem;
            text-align: center;
        }

        img {
            width: 44.6em;
            height: 42.7em;
            border-radius: 1em;
        }
    }

    .ingraph {
        width: fit-content;
        height: 159px;
        align-self: flex-end;
    }

    .actions {
        display: flex;
        justify-content: space-around;
        position: relative;
        top: 1em;

        div {
            display: flex;
            align-items: center;
            gap: 1em;

            p {
                font-size: 2.4rem;
            }
        }
    }

   }
}

.container.profile {
    margin-left: 8em;
    height: 73.4em;
    display: flex;
    gap: 7em;
    padding-top: 3em;
    position: relative;
    top: 6em;

   .editing {
    position: relative;
    top: -11em;

        h1 {
            position: relative;
            top: -1.4em;
            font-size: 4rem;
            color: #6B9080;
        }

        form {
            border-radius: 1em;
            width: 48em;
            height: 52.5em;
            gap: 1.8em;
            display: flex;
            flex-direction: column;
            background-color: #CCE3DE;
            
            .u-title {
                font-size: 2rem;
                text-align: center;
            }

            .input {
                display: flex;
                justify-content: space-around;
                align-items: center;
                gap: 1em;

                p {
                    margin: 0;
                }
            }

            input {
                height: 2.6em;
                width: 24em;
                background-color: #CCE3DE;
                border-radius: .7em;
            }
            input[type*="submit"] {
                color: #F0FBF4;
                border-radius: .5em;
                align-self: center;
                font-size: 2rem;
                background-color: #6B9080;
                width: 154px;
                height: 2.3em;
                position: relative;
                top: 1.5em;
            }

            .title {
                font-size: 1.4rem;
                width: fit-content;
            }
        }
   }

   .coverphoto {
    width: 48em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .updatephoto {
        width: fit-content;

        p {
            font-size: 3.2rem;
        }

        img {
            width: 40em;
            height: 32em;
            border-radius: 1em;
        }

        div.edit {
            background-color: #6B9080;
            width: 7.1em;
            height: 5.9em;
            border-radius: .6em;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 29em;
            right: 8em;
            cursor: pointer;
        }

        img.edit {
            width: 5em;
            height: 5em;
        }
    }
    
    .change-credentials {
        border: 1px solid black;
        border-radius: .8em;
        background-color: #CCE3DE;
        width: fit-content;
        padding: .5em;
        position: relative;
        top: -4em;

        p {
            font-size: 2rem;
            margin: 0;
        }
    }

    .ingraph {
        width: fit-content;
        height: 159px;
        align-self: flex-end;
    }

   }
}

.wrapper.queries {
    // justify-content: center;
    align-items: flex-start;
}

.container.queries {

    display: flex;
    flex-direction: column;
    margin-top: 10em;
    margin-left: 18.1em;
    gap: 6.7em;

    h1 {
        color: #6B9080;
        font-size: 4rem;
    }

    .bar {
        width: fit-content;
        background-color: #EAF4F4;
        gap: 1em;
        padding-left: 2em;
        padding-right: 2em;
        height: 6.8em;
        border: 1px solid black;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 1em;

        .item {
            width: fit-content;
            border: 1px solid black;
            padding-left: 6em;
            padding-right: 6em;
            height: 5.4em;
            border-radius: .9em;
            background-color: #CCE3DE;
            display: flex;
            align-items: center;

            p {
                font-size: 2em;
                margin: 0;
            }
        }
    }

    .cards {
        display: flex;
        flex-direction: column;

        .card {
            // background-color: #CCE3DE;
            width: fit-content;
            padding: 1.5em;
            border-radius: 1em;
            display: flex;
            flex-direction: column;
            gap: 2em;
            
            .visible {
                display: flex;
                width: 63.7em;
                justify-content: space-between;
                border-radius: 1em;
                border: 1px solid black;
                padding: 1em;
                align-items: center;
                background-color: #EAF4F4;

                .photo {
                    background: url(../assets/PXL_20221123_153554416.PORTRAIT.jpg) center center no-repeat;
                    width: 9.2em;
                    height: 9.2em;
                    border-radius: 50%;
                }

                .data {
                    align-self: flex-start;
                    position: relative;
                    left: -11em;

                    .name {
                        font-size: 2rem;
                        margin: 0;
                    }

                    .date {
                        font-size: 1.4rem;
                        margin: 0;
                        margin-left: 1em;
                    }

                }

                .actions {
                    width: fit-content;
                    height: fit-content;
                    display: flex;
                    gap: 1em;

                    .respond {
                        width: 6em;
                        height: 6em;
                        border-radius: 1em;
                        background-color: #6B9080;
                        background-image: url(../assets/reply.svg);
                        background-position: center center;
                        background-repeat: no-repeat;
                        border: 1px solid black;
                    }

                    .ignore {
                        width: 6em;
                        height: 6em;
                        border-radius: 1em;
                        background-color: #BD5454;
                        background-image: url(../assets/delete\ blog.svg);
                        background-position: center center;
                        background-repeat: no-repeat;
                        border: 1px solid black;
                    }
                }
            }

            .hidden {
                visibility: hidden;
                position: absolute;
                background-color: #EAF4F4;
                width: 63.7em;
                border: 1px solid black;
                border-radius: 1em;
                padding: 1em;
                height: fit-content;

                p {
                    font-size: 1.5rem;
                    width: 37.4em;
                    margin-left: 1.666em;
                }
            }
        }
    }
}

.container.dashboard {

    display: flex;
    flex-direction: column;
    margin-top: 10em;
    margin-left: 18.1em;
    gap: 6.7em;

    h1 {
        color: #6B9080;
        font-size: 4rem;

        span {
            color: #CCE3DE;
        }
    }

    hr {
        position: relative;
        left: -12em;
        top: -4em;
        width: 100%;
    }

    h3 {
        color: #6B9080;
        font-size: 3.6rem;
        font-weight: 600;
        position: relative;
        top: -4em;
        left: -2em;
    }

    .bar {
        width: fit-content;
        gap: 1em;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
        left: -12em;

        .item {
            width: fit-content;
            border: 1px solid black;
            padding: 1em;
            gap: 1em;
            border-radius: .9em;
            background-color: #CCE3DE;
            align-items: center;
            display: flex;
            flex-direction: column;

            p {
                font-size: 2em;
                text-align: center;
                margin: 0;
            }

            p + div {
                width: 20em;
                border-radius: 1em;
                height: 15.1em;
            }

            .blogs {
                background: url(../assets/shoe1.jpg) center center no-repeat;
            }
            .queries {
                background: url(../assets/shoe1.jpg) center center no-repeat;
            }
            .comments {
                background: url(../assets/shoe1.jpg) center center no-repeat;
            }
            .subscribers {
                background: url(../assets/shoe1.jpg) center center no-repeat;
            }
        }
    }

    .cards {
        display: flex;
        flex-direction: column;
        position: relative;
        top: -23em;

        .card {
            // background-color: #CCE3DE;
            width: fit-content;
            padding: 1.5em;
            border-radius: 1em;
            display: flex;
            flex-direction: column;
            gap: 2em;
            
            .visible {
                display: flex;
                width: 63.7em;
                justify-content: space-between;
                border-radius: 1em;
                border: 1px solid black;
                padding: 1em;
                align-items: center;
                background-color: #EAF4F4;

                .photo {
                    background: url(../assets/PXL_20221123_153554416.PORTRAIT.jpg) center center no-repeat;
                    width: 9.2em;
                    height: 9.2em;
                    border-radius: 50%;
                }

                .data {
                    align-self: flex-start;
                    position: relative;
                    left: -11em;

                    .name {
                        font-size: 2rem;
                        margin: 0;
                    }

                    .date {
                        font-size: 1.4rem;
                        margin: 0;
                        margin-left: 1em;
                    }

                }

                .actions {
                    width: fit-content;
                    height: fit-content;
                    display: flex;
                    gap: 1em;

                    .respond {
                        width: 6em;
                        height: 6em;
                        border-radius: 1em;
                        background-color: #6B9080;
                        background-image: url(../assets/reply.svg);
                        background-position: center center;
                        background-repeat: no-repeat;
                        border: 1px solid black;
                    }

                    .ignore {
                        width: 6em;
                        height: 6em;
                        border-radius: 1em;
                        background-color: #BD5454;
                        background-image: url(../assets/delete\ blog.svg);
                        background-position: center center;
                        background-repeat: no-repeat;
                        border: 1px solid black;
                    }
                }
            }

            .hidden {
                visibility: hidden;
                position: absolute;
                background-color: #EAF4F4;
                width: 63.7em;
                border: 1px solid black;
                border-radius: 1em;
                padding: 1em;
                height: fit-content;

                p {
                    font-size: 1.5rem;
                    width: 37.4em;
                    margin-left: 1.666em;
                }
            }
        }
    }
}