html {
  font-size: 62.5%;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: url(../assets/backgrounduni.png) center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
}

nav {
  z-index: 999;
  display: flex;
  background-color: #EAF4F4;
  position: fixed;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
}
nav div {
  width: 7em;
  text-align: center;
}
nav .buttons {
  display: flex;
  justify-content: center;
}
nav .buttons ul {
  position: relative;
  top: 4em;
}
nav .smedia {
  display: flex;
  justify-content: center;
}
nav .logo {
  background: url(../assets/Kagaba\ Logo\ 1.svg) center center no-repeat;
  width: 5.3em;
  height: 6.1em;
  align-self: center;
}
nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.7em;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
nav ul .home {
  background: url(../assets/Home\ 1.svg) center center no-repeat;
  width: 100%;
  height: 2.5em;
}
nav ul .about {
  background: url(../assets/About\ me\ 1.svg) center center no-repeat;
  width: 2.5em;
  height: 2.5em;
}
nav ul .skills {
  background: url(../assets/Skills\ 1.svg) center center no-repeat;
  width: 2.5em;
  height: 2.5em;
}
nav ul .projects {
  background: url(../assets/projects\ 1.svg) center center no-repeat;
  width: 2.5em;
  height: 2.5em;
}
nav ul .intouch {
  background: url(../assets/Message\ 1.svg) center center no-repeat;
  width: 2.5em;
  height: 2.5em;
}
nav ul .blog {
  background: url(../assets/blog-svgrepo-com\ 1.svg) center center no-repeat;
  width: 2.5em;
  height: 2.5em;
}
nav ul .menu {
  background: url(../assets/Menu\ button.svg) center center no-repeat;
  width: 2.6em;
  height: 2.6em;
}
nav ul .twitter {
  background: url(../assets/twitter\ 1.svg) center center no-repeat;
  width: 2.5em;
  height: 2.5em;
}
nav ul .linkedin {
  background: url(../assets/Linked\ in\ 1.svg) center center no-repeat;
  width: 2.5em;
  height: 2.5em;
}
nav ul .github {
  background: url(../assets/Whatsapp\ 1.svg) center center no-repeat;
  width: 2.5em;
  height: 2.5em;
}
nav ul .instagram {
  background: url(../assets/Insta\ icon\ 1.svg) center center no-repeat;
  width: 2.5em;
  height: 2.5em;
}

.wrapper {
  margin-left: 7em;
  height: 100%;
  display: flex;
  align-items: center;
}

.container {
  background-color: rgba(204, 227, 222, 0.2);
  display: flex;
  height: 75.8em;
  width: 118.5em;
}
.container .content {
  margin-left: 7em;
}
.container .content h1 {
  font-size: 6.4rem;
  width: 9em;
  color: #6B9080;
}
.container .content p {
  font-size: 2rem;
  font-weight: normal;
  color: #343A40;
}
.container .in-logo {
  position: relative;
  top: 5em;
  width: 46em;
  height: 48.7em;
  flex-grow: 1;
  align-self: center;
}

.container.home .graphic {
  width: 15.6em;
  height: 15.7em;
  position: relative;
  right: 8em;
  align-self: flex-end;
}

.form {
  border: 1px solid #CCE3DE;
  width: 90%;
  height: 57em;
  margin: auto;
  position: relative;
  background-color: #CCE3DE;
  border-radius: 0.5em;
  grid-area: two;
}
.form form {
  text-align: center;
  display: flex;
  height: 90%;
  flex-direction: column;
  gap: 1em;
  margin: 1em;
  padding: 2em;
  padding-top: 5em;
}
.form form textarea {
  background-color: #CCE3DE;
  padding: 0.5em;
  border-radius: 0.5em;
  border-style: solid;
  border-width: 0.01em;
  border-color: black;
}
.form form input {
  background-color: #CCE3DE;
  padding: 0.5em;
  border-radius: 0.5em;
  border-style: solid;
  border-width: 0.01em;
  border-color: black;
}
.form form input[type*=submit] {
  width: 30%;
  align-self: flex-end;
  color: #F0FBF4;
  background-color: #6B9080;
}

.container.contact {
  display: grid;
  width: 118.5em;
  grid-template-columns: repeat(3 auto);
  grid-template-rows: repeat(3 auto);
  grid-template-areas: "one two" "one two" "three two";
  -moz-column-gap: 8.5em;
       column-gap: 8.5em;
}
.container.contact .smiley {
  display: flex;
  justify-content: center;
  grid-area: three;
}
.container.contact .graphic {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 6;
  margin-left: 26em;
  grid-area: two;
}

.container.about {
  display: grid;
  width: 118.5em;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "one one two" "one one three";
  -moz-column-gap: 3em;
       column-gap: 3em;
}
.container.about .myphoto {
  margin: 5em;
  height: 20em;
  float: right;
  grid-area: two;
}
.container.about .graphic {
  display: flex;
  justify-content: flex-end;
  grid-area: three;
}

.container.skills {
  justify-content: space-between;
}
.container.skills .content {
  width: 61em;
}
.container.skills .content h1 {
  width: 9.5em;
}
.container.skills .visuals {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container.skills .skillsgr {
  margin: 5em;
  margin-top: 11em;
}
.container.skills .graphic {
  align-self: end;
}

.container.projects {
  display: grid;
  width: 123.5em;
  grid-template-columns: repeat(3 auto);
  grid-template-rows: repeat(3 auto);
  grid-template-areas: "one two" "one two" "one two";
}
.container.projects .content {
  width: 60em;
}
.container.projects .content h1 {
  width: 12em;
}
.container.projects .content p {
  width: 26.8em;
}
.container.projects .graphic {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 1;
  transform: scaleY(-1);
  grid-area: two;
}
.container.projects .graphic img {
  width: 16em;
  height: 16.7em;
}
.container.projects .projectslide {
  z-index: 900;
  margin-top: 23em;
  grid-area: two;
  border: 0.5px solid #000000;
  border-radius: 1em;
  width: 56.4em;
  height: 52.9em;
  display: flex;
  gap: 1em;
  overflow: auto;
}
.container.projects .card {
  width: 19.6em;
  height: 47.8em;
  border-radius: 1em;
  padding-left: 0.8em;
  padding-right: 0.8em;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.container.projects .card .inner-content {
  width: 18em;
  margin-bottom: 0.8em;
  height: 19.6em;
  border-radius: 0.8em;
  background-color: #F6FFF8;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1em;
  align-items: center;
}
.container.projects .card .inner-content h2 {
  font-size: 1.4em;
  font-weight: light;
  text-align: center;
}
.container.projects .card .inner-content p {
  font-size: 1em;
  width: 13.8em;
}
.container.projects .projectslide div:nth-child(odd) {
  align-self: flex-end;
}
.container.projects .card0 {
  background: url(../assets/uriel-soberanes-MxVkWPiJALs-unsplash.jpg) center center no-repeat;
  background-size: cover;
}
.container.projects .card1 {
  background: url(../assets/alex-knight-2EJCSULRwC8-unsplash.jpg) center center no-repeat;
  background-size: cover;
}
.container.projects .card2 {
  background: url(../assets/sara-kurfess-6lcT2kRPvnI-unsplash.jpg) center center no-repeat;
  background-size: cover;
}
.container.projects .card3 {
  background: url(../assets/markus-spiske-1LLh8k2_YFk-unsplash.jpg) center center no-repeat;
  background-size: cover;
}
.container.projects .card4 {
  background: url(../assets/markus-winkler-Q6uqw_Hjye8-unsplash.jpg) center center no-repeat;
  background-size: cover;
}

.wrapper.blogs {
  display: block;
  margin-left: 14em;
}

.container.blogs {
  width: 116.5em;
  flex-direction: column;
  height: -moz-fit-content;
  height: fit-content;
}
.container.blogs .content {
  margin-left: 1.9em;
}
.container.blogs .content h1 {
  width: 100%;
}
.container.blogs .blogcard {
  border-radius: 1em;
  width: 115em;
  height: 51.7em;
  position: relative;
  right: 1.9em;
  padding-left: 1.5em;
  background-color: rgba(164, 195, 178, 0.08);
  display: flex;
  gap: 3em;
  align-items: center;
}
.container.blogs .blogcard .cover {
  background: url(../assets/shoe1.jpg) center center no-repeat;
  background-size: cover;
  width: 42.7em;
  height: 48.9em;
  border-radius: 1em;
}
.container.blogs .blogcard .title {
  font-size: 3.6em;
  margin: 0;
  color: #6B9080;
}
.container.blogs .blogcard .date {
  font-size: 1.4em;
  margin-top: 1em;
  color: #6B9080;
}
.container.blogs .blogcard .cont {
  width: 68.6em;
  display: flex;
  flex-direction: column;
  height: 49em;
}
.container.blogs .blogcard .description {
  font-size: 2.4em;
  margin: 0.3em;
  margin-left: 0;
  width: 23.7em;
}
.container.blogs .blogcard .continuebut {
  align-self: flex-end;
  position: relative;
  width: 26.3em;
  height: 8.4em;
  right: 9.8em;
  background-color: #CCE3DE;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
}
.container.blogs .blogcard .continuebut p {
  font-size: 2.4em;
  text-decoration: underline;
}
.container.blogs .blogcard .ingraph {
  position: absolute;
  height: 10.4em;
  width: 9.8em;
  bottom: 0;
  right: 0;
  border-radius: 1em;
  overflow: hidden;
}
.container.blogs .graphic {
  display: flex;
  visibility: hidden;
  justify-content: flex-end;
}
.container.blogs .blogcards {
  display: flex;
  margin-top: 7em;
  flex-direction: column;
  gap: 2em;
}

.popup {
  position: absolute;
  z-index: 998;
  background-color: rgba(240, 251, 244, 0.7);
  display: flex;
  width: 100%;
  visibility: hidden;
  height: 100%;
}

.subscribe {
  z-index: 999;
  position: relative;
  right: 10em;
  top: 5em;
  width: 81.3em;
  height: 57.6em;
}
.subscribe form {
  height: auto;
}
.subscribe form input {
  height: 3em;
}
.subscribe form input[type*=checkbox] {
  width: -moz-fit-content;
  width: fit-content;
}
.subscribe form input[type*=submit] {
  width: 9em;
  height: 3em;
  position: relative;
  top: -10em;
  right: 4em;
}
.subscribe form label {
  width: 33em;
  font-size: 1.3rem;
  text-align: left;
  position: relative;
  top: -3.3em;
  right: -2em;
}
.subscribe .close {
  background: url(../assets/close-circle-svgrepo-com\ 1.svg) center center no-repeat;
  width: 2.5em;
  position: absolute;
  margin: 1em;
  right: 0;
  height: 2.5em;
}
.subscribe .close + p {
  font-size: 3.2rem;
  margin-top: 1em;
  margin-left: 0.8em;
  margin-bottom: 0;
}

.wrapper.blogpost {
  width: 100%;
  justify-content: center;
  align-items: flex-start;
}

.container.blogpost {
  width: 85.51em;
  height: 100%;
  padding-top: 20em;
  padding-right: 8em;
  height: -moz-fit-content;
  height: fit-content;
  flex-direction: column;
}
.container.blogpost .comment-form {
  width: 60.3em;
  height: 72em;
}
.container.blogpost .comment-form form {
  height: auto;
}
.container.blogpost .comment-form form input {
  height: 3em;
}
.container.blogpost .comment-form form input[type*=checkbox] {
  width: -moz-fit-content;
  width: fit-content;
}
.container.blogpost .comment-form form input[type*=submit] {
  width: 9em;
  height: 3em;
  align-self: center;
  position: relative;
  top: -6em;
}
.container.blogpost .comment-form form label {
  width: 33em;
  font-size: 1.3rem;
  text-align: left;
  position: relative;
  top: -3.3em;
  right: -2em;
}
.container.blogpost .form > p {
  font-size: 3.2rem;
  margin-top: 1em;
  margin-left: 0.8em;
  margin-bottom: 0;
  text-align: center;
}
.container.blogpost .cover {
  width: -moz-fit-content;
  width: fit-content;
}
.container.blogpost .cover img {
  width: 48.3em;
  border-radius: 1em;
}
.container.blogpost .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container.blogpost .content .heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 1em;
  padding: 1em;
}
.container.blogpost .content .heading h1 {
  font-size: 2rem;
  width: 100%;
  text-align: center;
}
.container.blogpost .content .heading .date {
  font-size: 1.5rem;
}
.container.blogpost .lower .replies {
  margin-left: 7em;
}
.container.blogpost .lower .replies h1 {
  text-align: center;
  font-size: 2rem;
  color: #6B9080;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}
.container.blogpost .lower .comment-container {
  position: relative;
  top: -10em;
  background-color: #F6FFF8;
  width: -moz-fit-content;
  width: fit-content;
  padding: 4em;
  border-radius: 1em;
  margin-left: auto;
  margin-right: auto;
}
.container.blogpost .lower .banner {
  width: 100%;
  z-index: -30;
  height: 18em;
  background-color: #CCE3DE;
}
.container.blogpost .lower .jump {
  text-align: center;
  padding: 0;
  margin-top: 0;
  font-size: 1.8em;
}
.container.blogpost .lower .replies .comment {
  padding-top: 3em;
}
.container.blogpost .lower .replies .comment button {
  color: #EAF4F4;
  background-color: #6B9080;
  border-radius: 0.8em;
  height: 2.8em;
  width: 8em;
}
.container.blogpost .lower .replies .comment button p {
  margin: 0;
}
.container.blogpost .lower .replies .comment .actual, .container.blogpost .lower .replies .comment .reply {
  display: flex;
  width: 60em;
  justify-content: space-between;
  gap: 6em;
  width: 41.8em;
}
.container.blogpost .lower .replies .comment .actual .photo, .container.blogpost .lower .replies .comment .reply .photo {
  width: 9.6em;
  height: 9.6em;
  aspect-ratio: 16.9;
  border-radius: 50%;
  background: url(../assets/PXL_20221123_153554416.PORTRAIT.jpg) center center no-repeat;
  background-size: cover;
}
.container.blogpost .lower .replies .comment .actual .content-comment .name, .container.blogpost .lower .replies .comment .reply .content-comment .name {
  margin: 0;
  font-size: 1.6rem;
  font-weight: 400;
}
.container.blogpost .lower .replies .comment .actual .content-comment .date, .container.blogpost .lower .replies .comment .reply .content-comment .date {
  font-weight: 400;
  margin: 0;
  margin-left: 1em;
  font-size: 1.2rem;
}
.container.blogpost .lower .replies .comment .actual .content-comment .date + p, .container.blogpost .lower .replies .comment .reply .content-comment .date + p {
  font-size: 1.3em;
}
.container.blogpost .lower .replies .comment .reply-fresh {
  position: relative;
  top: -5em;
  right: -3em;
}
.container.blogpost .lower .replies .comment .reply {
  position: relative;
  top: -7em;
  right: -5em;
}
.container.blogpost .lower .replies .comment .reply .photo {
  background-image: url(../assets/shoe1.jpg);
}
.container.blogpost .graphic {
  visibility: hidden;
}/*# sourceMappingURL=home.css.map */