<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>

    <body>
        <%- include('./partials/nav.ejs') %>
        <%- include('./partials/popup.ejs') %>

        <div class="wrapper">
            <div class="container home">
                <div class="content">
                    <h1>I'm Here For You</h1>
                    <p>
                        Hello! I’m a full stack developer with an expertise in developing both front-end and back-end web
                        applications. With my technical experience, creativity, and problem-solving skills, I will help
                        bring ideas to life. I look forward to collaborating with you and creating something amazing
                        together.
                    </p>
                </div>
                <div class="in-logo">
                    <img src="/assets/Logo.svg" alt="k graphic">
                </div>
                <div class="graphic home">
                    <img src="/assets/Graphic (1).svg" alt="stripes graphic">
                </div>
            </div>

            <%- include('./partials/footer.ejs') %>
        </div>
        <script src="/js/navbar.js"></script>
        <script src="/js/popup.js"></script>
    </body>
</html>