<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>

    <body>
        <%- include('./partials/nav.ejs') %>
        <%- include('./partials/popup.ejs') %>

        <div class="wrapper">
            <div class="container projects">
                <div class="content">
                    <h1>My Projects at a Glance</h1>
                    <p>
                        Welcome again! Here, you can find out more about the projects I have worked on and the unique insights I have gained during the development process. Check out my featured projects aside this text, including a feature to allow more accurate search results on Spotify, a program to enhance the Oculus VR experience, an AI robot that can hold a conversation, an open-source OS, an earthquake detection and warning system, and a software to create custom QR codes. I'm excited to share my work with you.
                    </p>
                </div>
                <div class="projectslide">
                    <div class="card card0 projects">
                        <div class="inner-content">
                            <h2>Talk to me!</h2>
                            <p>
                                A feature that allows more accurate search results to be generated when searching for music across genres. This would be beneficial to those looking to<span class="more">discover new music, as it would make it easier to find the exact song they are looking for. It would hopefully lead to increased music discovery for users. Additionally, users would be able to easily find similar music to their favorite songs or artists. This would increase user engagement and make it easier for them to discover new songs. Overall, this feature would benefit both users and Spotify.</span>
                                <span class="dots">. . . Read more</span>
                            </p>
                        </div>
                    </div>
                    <div class="card card0 projects">
                        <div class="inner-content">
                            <h2>Talk to me!</h2>
                            <p>
                                A feature that allows more accurate search results to be generated when searching for music across genres. This would be beneficial to those looking to<span class="more">discover new music, as it would make it easier to find the exact song they are looking for. It would hopefully lead to increased music discovery for users. Additionally, users would be able to easily find similar music to their favorite songs or artists. This would increase user engagement and make it easier for them to discover new songs. Overall, this feature would benefit both users and Spotify.</span>
                                <span class="dots">. . . Read more</span>
                            </p>
                        </div>
                    </div>
                    <div class="card card0 projects">
                        <div class="inner-content">
                            <h2>Talk to me!</h2>
                            <p>
                                A feature that allows more accurate search results to be generated when searching for music across genres. This would be beneficial to those looking to<span class="more">discover new music, as it would make it easier to find the exact song they are looking for. It would hopefully lead to increased music discovery for users. Additionally, users would be able to easily find similar music to their favorite songs or artists. This would increase user engagement and make it easier for them to discover new songs. Overall, this feature would benefit both users and Spotify.</span>
                                <span class="dots">. . . Read more</span>
                            </p>
                        </div>
                    </div>
                    <div class="card card0 projects">
                        <div class="inner-content">
                            <h2>Talk to me!</h2>
                            <p>
                                A feature that allows more accurate search results to be generated when searching for music across genres. This would be beneficial to those looking to<span class="more">discover new music, as it would make it easier to find the exact song they are looking for. It would hopefully lead to increased music discovery for users. Additionally, users would be able to easily find similar music to their favorite songs or artists. This would increase user engagement and make it easier for them to discover new songs. Overall, this feature would benefit both users and Spotify.</span>
                                <span class="dots">. . . Read more</span>
                            </p>
                        </div>
                    </div>
                    <div class="card card0 projects">
                        <div class="inner-content">
                            <h2>Talk to me!</h2>
                            <p>
                                A feature that allows more accurate search results to be generated when searching for music across genres. This would be beneficial to those looking to<span class="more">discover new music, as it would make it easier to find the exact song they are looking for. It would hopefully lead to increased music discovery for users. Additionally, users would be able to easily find similar music to their favorite songs or artists. This would increase user engagement and make it easier for them to discover new songs. Overall, this feature would benefit both users and Spotify.</span>
                                <span class="dots">. . . Read more</span>
                            </p>
                        </div>
                    </div>
                    <div class="card card0 projects">
                        <div class="inner-content">
                            <h2>Talk to me!</h2>
                            <p>
                                A feature that allows more accurate search results to be generated when searching for music across genres. This would be beneficial to those looking to<span class="more">discover new music, as it would make it easier to find the exact song they are looking for. It would hopefully lead to increased music discovery for users. Additionally, users would be able to easily find similar music to their favorite songs or artists. This would increase user engagement and make it easier for them to discover new songs. Overall, this feature would benefit both users and Spotify.</span>
                                <span class="dots">. . . Read more</span>
                            </p>
                        </div>
                    </div>
                    <div class="card card0 projects">
                        <div class="inner-content">
                            <h2>Talk to me!</h2>
                            <p>
                                A feature that allows more accurate search results to be generated when searching for music across genres. This would be beneficial to those looking to<span class="more">discover new music, as it would make it easier to find the exact song they are looking for. It would hopefully lead to increased music discovery for users. Additionally, users would be able to easily find similar music to their favorite songs or artists. This would increase user engagement and make it easier for them to discover new songs. Overall, this feature would benefit both users and Spotify.</span>
                                <span class="dots">. . . Read more</span>
                            </p>
                        </div>
                    </div>
                    <div class="card card0 projects">
                        <div class="inner-content">
                            <h2>Talk to me!</h2>
                            <p>
                                A feature that allows more accurate search results to be generated when searching for music across genres. This would be beneficial to those looking to<span class="more">discover new music, as it would make it easier to find the exact song they are looking for. It would hopefully lead to increased music discovery for users. Additionally, users would be able to easily find similar music to their favorite songs or artists. This would increase user engagement and make it easier for them to discover new songs. Overall, this feature would benefit both users and Spotify.</span>
                                <span class="dots">. . . Read more</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="graphic projects">
                    <img src="/assets/Graphic (1).svg" alt="stripes graphic">
                </div>
            </div>

            <%- include('./partials/footer.ejs') %>
        </div>
        <script src="/js/navbar.js"></script>
        <script src="/js/projects.js"></script>
        <script src="/js/popup.js"></script>
    </body>
</html>