<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>

    <body>
        <%- include('./partials/nav.ejs') %>
        <%- include('./partials/popup.ejs') %>

        <div class="wrapper">
            <div class="container skills">
                <div class="content">
                    <h1>Skills & Experience</h1>
                    <p>
                        As a fullstack developer, I bring expertise and enthusiasm to every project. With a passion for innovative development, I'm skilled in both frontend and backend development, leveraging cutting-edge technologies and best practices. My extensive experience includes working on applications for web, desktop, and mobile, utilizing both SQL and NoSQL databases. Additionally, I have experience with server-side technologies such as Node.js, PHP, and Ruby on Rails, as well as modern frameworks such as React, Angular, and Vue.js. My abilities also include agile development, test-driven development, and software engineering principles such as SOLID and DRY. I'm always eager to learn new technologies and apply them to efficient and effective problem-solving.<br><br>Visit my linkedin profile for more details or just contact me. 
                    </p>
                </div>
                <div class="visuals">
                    <div class="skillsgr">
                        <img src="/assets/Skills graphic.svg" alt="skills graphic">
                    </div>
                    <div class="graphic contact">
                        <img src="/assets/Graphic (1).svg" alt="stripes graphic">
                    </div>
                </div>
            </div>

            <%- include('./partials/footer.ejs') %>
        </div>
        <script src="/js/navbar.js"></script>
        <script src="/js/popup.js"></script>
    </body>
</html>