<footer class="footer">
    <ul>
        <li>
            <div class="twitter">
                <a href="" target="_blank">
                    <img src="/assets/twitter 1.svg" alt="home icon">
                </a>
            </div>
        </li>
        <li>
            <div class="linkedin">
                <a href="https://www.linkedin.com/in/etienne-kagaba-shingiro-88b57324a/" target="_blank">
                    <img src="/assets/Linked in 1.svg" alt="home icon">
                </a>
            </div>
        </li>
        <li>
            <div class="github">
                <a href="https://github.com/kagaba-etienne" target="_blank">
                    <img src="/assets/github-svgrepo-com 1.svg" alt="home icon">
                </a>
            </div>
        </li>
        <li>
            <div class="instagram">
                <a href="https://www.instagram.com/kagaba_etienne/" target="_blank">
                    <img src="/assets/Insta icon 1.svg" alt="home icon">
                </a>
            </div>
        </li>
    </ul>
</footer>