<div class="popup">
    <div class="form subscribe">
        <div class="close">
            <img src="/assets/close-circle-svgrepo-com 1.svg" alt="">
        </div>
        <p>Join Our Newsletter and Get News You Can Use!</p>
        <form class="subscribe-form">
            <input type="text" name="name" placeholder="Full Name"><br>
            <input type="text" name="email" placeholder="Email"><br>
            <input type="text" name="emailConf" placeholder="Confirm Email"><br>
            <label for="agreement"><input type="checkbox" name="agreement" id="agreement">By subscribing to this mailing list, I agree to receiving occasional emails and other communication from Etienne Kagaba. I understand that I can opt-out of these communications at any time by following the unsubscribe link included in each email.</label><br>
            <button type="button" class="subscribebtn">Subscribe</button>
        </form>
    </div>
</div>