<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>

    <body>
        <div class="wrapper">
            <div class="form login">
                <div class="help"></div>
                <div class="signuplink">Dont have an account? <a href="/admin/acc/signup">Signup</a></div>
                <p>Admin Login</p>
                <form action="#" class="signup-form">
                    <input type="text" name="" placeholder="Email"><br>
                    <input type="text" name="" placeholder="Password"><br>
                    <input type="submit" value="Login">
                </form>
                <div class="logo"></div>
            </div>
        </div>
        <script src="/js/login.js"></script>
    </body>
</html>