<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>

    <body>
        <div class="wrapper">
            <div class="form signup">
                <div class="help"></div>
                <div class="signuplink">Already have an account? <a href="/admin/acc/login">Login</a></div>
                <p>Admin Signup</p>
                <form action="#" class="signup-form">
                    <input type="text" name="" placeholder="Full Name"><br>
                    <input type="text" name="" placeholder="Email"><br>
                    <input type="text" name="" placeholder="Password"><br>
                    <input type="text" name="" placeholder="Confirm Password"><br>
                    <input type="submit" value="Signup">
                </form>
                <div class="logo"></div>
            </div>
        </div>
        <script src="/js/login.js"></script>
    </body>
</html>