<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>

    <body>
        <div class="wrapper">
            <div class="form signup">
                <div class="help"></div>
                <div class="signuplink">Already have an account? <a href="/login">Login</a></div>
                <p>Admin Signup</p>
                <form class="signup-form">
                    <div class="name error"></div>
                    <input type="text" name="name" placeholder="Full Name"><br>
                    <div class="email error"></div>
                    <input type="email" name="email" placeholder="Email"><br>
                    <div class="password error"></div>
                    <input type="password" name="password" placeholder="Password"><br>
                    <input type="text" name="confPass" placeholder="Confirm Password"><br>
                    <input type="submit" value="Signup">
                </form>
                <div class="logo"></div>
            </div>
        </div>
        <script src="/js/login.js"></script>
    </body>
</html>