<%
let pendingcards = '';
let respondedcards = '';
let ignoredcards = '';

queries.forEach(element => {
    if (element.status=="pending"){

        pendingcards = '<div class="card card${ element.id }">
                        <div class="visible">
                            <div class="photo"></div>
                            <div class="data">
                                <p class="name">${ element.name }</p>
                                <p class="date">${ element.date }</p>
                            </div>
                            <div class="actions">
                                <div class="respond" id="${ element.id }">
                                    <img src="/assets/Reply.svg" alt="">
                                </div>
                                <div class="ignore" id="${ element.id }"></div>
                            </div>
                        </div>
                        <div class="hidden">
                            <div class="text">
                                <p>${ element.message }</p>
                            </div>
                        </div>
                    </div>'

                    }
    else if (element.status =="responded"){

        respondedcards += `<div class="card card${ element.id">
                                <div class="visible">
                                    <div class="photo"></div>
                                    <div class="data">
                                        <p class="name">${ element.name }</p>
                                        <p class="date">${ element.date }</p>
                                    </div>
                                    <div class="actions">
                                        <div class="responded"></div>
                                        <div class="delete" id="${ element.id }"><div>
                                    </div>
                                </div>
                                <div class="hidden">
                                    <div class="text">
                                        <p>${ element.message</p>
                                    </div>
                                </div>
                            </div>`

                            }
    else {

        ignoredcards += `<div class="card card${ element.id">
                                <div class="visible">
                                    <div class="photo"></div>
                                    <div class="data">
                                        <p class="name">${ element.name }</p>
                                        <p class="date">${ element.date }</p>
                                    </div>
                                    <div class="actions">
                                        <div class="respond" id="${ element.id }">
                                            <img src="/assets/Reply.svg" alt="">
                                        </div>
                                        <div class="delete" id="${ element.id }"></div>
                                    </div>
                                </div>
                                <div class="hidden">
                                    <div class="text">
                                        <p>${ element.message }</p>
                                    </div>
                                </div>
                            </div>`

    }
})
%>